.main {
  display: flex;
  gap: 1vw;
}

.world img {
  width: 40vw;
  filter: var(--drop-shadow);
}

.main-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2vw;
  border-radius: 1vw;
  justify-content: space-between;
  background-color: var(--background-card);
  box-shadow: var(--box-shadow);
  max-height: 40vw;
}

.main-card h1 {
  font-size: 1.5vw;
}
.main-card p {
  font-size: 1.2vw;
}

.servicos-container {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  height: 45.5vw;
}

.title-section {
  text-align: center;
  color: var(--font-white);
  font-weight: 100;
  font-size: 2vw;
}

.servicos,
.visao {
  display: flex;
  gap: 2vw;
  
}

.servicos {
  text-align: center;
}

.description-container,
.contacts-container {
  display: flex;
  gap: 2vw;
}

.card {
  flex: 3;

}

.card,
.card-two,
.card-three,
.card-four {
  background-color: var(--background-card);
  padding: 1vw;
  border-radius: 1vw;
  box-shadow: var(--box-shadow);
}

.card h1,
.card p,
.card-two p,
.card-three p,
.card-four p {
  font-size: 1.2vw;
  margin: 0.5vw 0;
}
.card-container-two {
  flex: 2.1;
}

.card-container {
  flex: 1;
  text-align: center;
}

.card-two {
  height: 13vw;
}

.card-three {
  display: flex;
  align-items: center;
  height: 10vw;
  text-align: center;
}

.card-four {
  display: flex;
  flex-direction: column;
  height: 27.8vw;
  text-align: center;
  justify-content: space-around;
}

.description-container {
  margin-top: 3vw;
  padding-top: 3vw;
  display: flex;
  height: 42vw;
}


.cards-description,
.contacts-content {
    flex: 1;
}

.contato-content {
  height: 27.5vw;
}

.contato-content iframe {
  width: 100%;
  height: 15vw;
}

.contacts-container {
  height: 45vw;
  margin-top: 3vw;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  max-width: 45vw;
}
.form-content p {
  margin: 0;
}

.redes-sociais {
  display: flex;
  gap: 1vw;
}

.redes-sociais img {
  width: 3vw;
  cursor: pointer;
}

.one-form {
  display: flex;
  gap: 2vw;
  justify-content: space-between;
}

.form-content input {
  margin: 0.5vw 0 1vw 0;
  flex: 1;
  border-radius: 1vw;
  border: 0 none;
  max-height: 1vw;
  outline: 0;
  font-size: 1vw;
}

.form-contents {
  flex: 1;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.buttons-form {
  display: flex;
  padding: 1vw 0 0 0;
  gap: 1vw;
  justify-content: end;
}

.buttons-form button {
  width: 8vw;
  height: 1.5vw;
  border-radius: 1vw;
  border: none;
  font-size: 1vw;
  cursor: pointer;
}

.input-small {
  max-width: 19vw;
}