.main {
  display: flex;
  gap: 1vw;
}

.world img {
  width: 40vw;
  filter: var(--drop-shadow);
}

.main-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2vw;
  border-radius: 1vw;
  justify-content: space-between;
  background-color: var(--background-card);
  box-shadow: var(--box-shadow);
  max-height: 40vw;
}

.main-card h1 {
  font-size: 1.5vw;
}
.main-card p {
  font-size: 1.2vw;
}

.servicos-container {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  height: 45.5vw;
}

.title-section {
  text-align: center;
  color: var(--font-white);
  font-weight: 100;
  font-size: 2vw;
}

.servicos,
.visao,
.description-container {
  display: flex;
  gap: 2vw;
}

.card {
  flex: 3;
  text-align: center;
}

.card,
.card-two,
.card-three,
.card-four {
  background-color: var(--background-card);
  padding: 1vw;
  border-radius: 1vw;
  box-shadow: var(--box-shadow);
}

.card h1,
.card p,
.card-two p {
  font-size: 1.2vw;
  margin: 0.5vw;
}
.card-container-two {
  flex: 2.1;
}

.card-container {
  flex: 1;
  text-align: center;
}

.card-two {
  height: 13vw;
}

.card-three {
  height: 10vw;
  text-align: center;
}

.card-four {
  display: flex;
  flex-direction: column;
  height: 27.8vw;
  text-align: center;
  justify-content: space-around;
}

.description-container {
  margin-top: 3vw;
  display: flex;
  height: 42vw;
}

.cards-description {
    flex: 1;
}