<section id="main" class="main">
  <div class="main-card">
    <h1>
      À procura de uma empresa para transformar seus resíduos recicláveis em
      recursos valiosos?
    </h1>
    <p>
      Bem-vindo à ReciFluxo, onde a sustentabilidade encontra a eficiência.
      Somos a escolha ideal para quem busca um serviço de coleta e logística de
      resíduos recicláveis confiável e comprometido com o meio ambiente. Nosso
      objetivo é simplificar o processo de reciclagem para você, coletando os
      materiais diretamente na sua porta e garantindo que sejam destinados
      corretamente para a reutilização. <br /><br />
      Na ReciFluxo, acreditamos que cada pequeno gesto conta na construção de um
      futuro mais verde e sustentável. Por isso, nos dedicamos a oferecer
      soluções práticas e inovadoras que facilitam o descarte consciente e
      promovem a economia circular. Junte-se a nós nessa missão e faça parte da
      mudança positiva que desejamos ver no mundo.
    </p>
    <p>
      Faça sua parte e deixe o resto com a gente. Com a ReciFluxo, reciclar
      nunca foi tão fácil!
    </p>
  </div>
  <div class="world">
    <img src="../../../assets/world.png" alt="World" />
  </div>
</section>
