<section id="main" class="main">
  <div class="main-card">
    <h1>
      À procura de uma empresa para transformar seus resíduos recicláveis em
      recursos valiosos?
    </h1>
    <p>
      Bem-vindo à ReciFluxo, onde a sustentabilidade encontra a eficiência.
      Somos a escolha ideal para quem busca um serviço de coleta e logística de
      resíduos recicláveis confiável e comprometido com o meio ambiente. Nosso
      objetivo é simplificar o processo de reciclagem para você, coletando os
      materiais diretamente na sua porta e garantindo que sejam destinados
      corretamente para a reutilização. <br /><br />
      Na ReciFluxo, acreditamos que cada pequeno gesto conta na construção de um
      futuro mais verde e sustentável. Por isso, nos dedicamos a oferecer
      soluções práticas e inovadoras que facilitam o descarte consciente e
      promovem a economia circular. Junte-se a nós nessa missão e faça parte da
      mudança positiva que desejamos ver no mundo.
    </p>
    <p>
      Faça sua parte e deixe o resto com a gente. Com a ReciFluxo, reciclar
      nunca foi tão fácil!
    </p>
  </div>
  <div class="world">
    <img src="../../../assets/world.png" alt="World" />
  </div>
</section>
<section id="services" class="servicos-container">
  <h1 class="title-section">Veja os nossos serviços!</h1>
  <div class="servicos">
    <div class="card">
      <h1>Coleta de Resíduos Recicláveis</h1>
      <p>
        Oferecemos um serviço de coleta regular de resíduos recicláveis,
        incluindo papel, plástico, vidro e metal, diretamente na sua porta.
      </p>
    </div>
    <div class="card">
      <h1>Transporte Sustentável</h1>
      <p>
        Utilizamos caminhões modernos e ambientalmente eficientes para garantir
        que os resíduos sejam transportados de maneira segura e sustentável.
      </p>
    </div>
    <div class="card">
      <h1>Parcerias com Empresas de Reciclagem</h1>
      <p>
        Colaboramos com empresas de reciclagem de confiança para garantir que
        todos os materiais coletados sejam processados e reutilizados da melhor
        maneira possível.
      </p>
    </div>
    <div class="card">
      <h1>Educação Ambienta</h1>
      <p>
        Promovemos campanhas educativas e workshops para aumentar a
        conscientização sobre a importância da reciclagem e práticas
        sustentáveis.
      </p>
    </div>
  </div>
  <div class="visao">
    <div class="card-container">
      <h1 class="title-section">Visão</h1>
      <div class="card-two">
        <p>
          Ser líder no setor de logística sustentável de resíduos recicláveis,
          contribuindo significativamente para a redução de resíduos e a
          promoção de práticas ecológicas em nossa comunidade.
        </p>
      </div>
    </div>
    <div class="card-container">
      <h1 class="title-section">Missão</h1>
      <div class="card-two">
        <p>
          Nossa missão é fornecer soluções logísticas eficientes para a coleta e
          transporte de resíduos recicláveis, fomentando uma cultura de
          sustentabilidade e responsabilidade ambiental entre nossos clientes e
          parceiros.
        </p>
      </div>
    </div>
    <div class="card-container-two">
      <h1 class="title-section">Valores</h1>
      <div class="card-two">
        <p>Sustentabilidade:  Compromisso com práticas que minimizam o impacto ambiental.</p>
        <p>Eficiência:  Otimização constante dos processos logísticos para garantir a máxima eficiência.</p>
        <p>Responsabilidade:  Responsabilidade com a comunidade e o meio ambiente.</p>
        <p>Inovação:  Busca contínua por inovações que melhorem nossos serviços e promovam a sustentabilidade</p>
      </div>
    </div>
  </div>
</section>
