.main {
  display: flex;
  gap: 1vw;
}

@media screen and (orientation: portrait), (max-width: 720px) {
  .world {
    display: none;
  }
  .card h1,
  .card p,
  .card-two p,
  .card-three p,
  .card-four p {
    font-size: 3vw;
    margin: 0.5vw 0;
  }
  .main-card h1 {
    font-size: 4vw;
  }
  .main-card p {
    font-size: 3vw;
  }
  .main-card {
    max-height: 100vw;
  }
  .servicos,
  .visao,
  .description-container,
  .contacts-container {
    flex-direction: column;
  }
  .servicos-container {
    height: 190vw;
  }
  .description-container {
    height: 150vw;
    margin-top: 15vw;
  }
  .title-section {
    font-size: 4vw;
  }
  .contato-content iframe {
    height: 50vw;
  }
  .redes-sociais img {
    width: 8vw;
  }
  .contacts-content {
    margin-top: 15vw;
  }
}
@media screen and (orientation: landscape) {
  .card h1,
  .card p,
  .card-two p,
  .card-three p,
  .card-four p {
    font-size: 1.2vw;
    margin: 0.5vw 0;
  }
  .main-card h1 {
    font-size: 1.5vw;
  }
  .main-card p {
    font-size: 1.2vw;
  }
  .main-card {
    max-height: 40vw;
  }
  .servicos-container {
    height: 45.5vw;
  }
  .card-two {
    height: 13vw;
  }
  .card-four {
    height: 27.8vw;
  }
  .description-container {
    height: 42vw;
    margin-top: 3vw;
  }
  .card-three {
    height: 10vw;
  }
  .title-section {
    font-size: 2vw;
  }
  .contato-content iframe {
    height: 15vw;
  }
  .redes-sociais img {
    width: 3vw;
  }
  .form-content {
    max-width: 45vw;
  }
  .contacts-container{
     margin-top: 3vw;
     margin-bottom: 15vw;
  }
}

.world img {
  width: 40vw;
  filter: var(--drop-shadow);
}

.main-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2vw;
  border-radius: 1vw;
  justify-content: space-between;
  background-color: var(--background-card);
  box-shadow: var(--box-shadow);
}

.servicos-container {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
}

.title-section {
  text-align: center;
  color: var(--font-white);
  font-weight: 100;
}

.servicos,
.visao {
  display: flex;
  gap: 2vw;
}

.servicos {
  text-align: center;
}

.description-container,
.contacts-container {
  display: flex;
  gap: 2vw;
}

.card {
  flex: 3;
}

.card,
.card-two,
.card-three,
.card-four {
  background-color: var(--background-card);
  padding: 1vw;
  border-radius: 1vw;
  box-shadow: var(--box-shadow);
}
.card-container-two {
  flex: 2.1;
}

.card-container {
  flex: 1;
  text-align: center;
}

.card-three {
  display: flex;
  align-items: center;
  text-align: center;
}

.card-four {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.description-container {
  padding-top: 3vw;
  display: flex;
}

.cards-description,
.contacts-content {
  flex: 1;
}

.contato-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.contato-content iframe {
  width: 100%;
}

.contacts-container {
  height: 32vw;
}

.redes-sociais {
  display: flex;
  gap: 1vw;
}

.redes-sociais img {
  cursor: pointer;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
