body {
  margin: 0;
  background-color: var(--background-body);
  font-family: "Lustria", serif;
  font-weight: 200;
  font-style: normal;
}

:root {
  --background-header: #2f5f4e;
  --font-white: #ffffff;
  --buttons-header: #87c6af;
  --background-body: #42856d;
  --font-family-title: "Kadwa", serif;
}