<form class="card formulario">
    <div class="one-form">
      <div class="form-contents">
        <p>Nome:</p>
        <input class="input-small" type="text" required />
        <p>Tipo do Lixo:</p>
        <input class="input-small" type="text" required />
      </div>
      <div class="form-contents">
        <p>Quantidade Estimada: (kg):</p>
        <input class="input-small" type="number" required />
        <p>Tipo de Coleta:</p>
        <input class="input-small" type="text" required />
      </div>
    </div>
    <div class="form-contents">
      <p>Endereço:</p>
      <input type="text" required />
    </div>
    <div class="buttons-form">
      <button type="submit">Enviar</button>
      <button type="reset">Cancelar</button>
    </div>
</form>
