@media screen and (orientation: portrait), (max-width: 720px) {
  .card h1,
  .card p {
    font-size: 3vw;
    margin: 0.5vw 0;
  }
  .buttons-form button {
    width: 20vw;
    height: 6vw;
    font-size: 4vw;
  }
  .formulario input {
    max-height: 3vw;
    padding: 2vw 1vw;
    font-size: 2vw;
  }
}
@media screen and (orientation: landscape) {
  .card h1,
  .card p {
    font-size: 1.2vw;
    margin: 0.5vw 0;
  }
  .buttons-form button {
    width: 8vw;
    height: 1.5vw;
    font-size: 1vw;
  }
  .formulario input {
    max-height: 1vw;
    padding: 0.5vw 1vw;
    font-size: 1vw;
  }
  .input-small {
    max-width: 19vw;
  }
}

.one-form {
  display: flex;
  gap: 2vw;
  justify-content: space-between;
}

.formulario input {
  margin: 0.5vw 0 1vw 0;
  flex: 1;
  border-radius: 1vw;
  border: 0 none;
  outline: 0;
}

.form-contents {
  flex: 1;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.buttons-form {
  display: flex;
  padding: 1vw 0 0 0;
  gap: 1vw;
  justify-content: end;
}

.buttons-form button {
  border-radius: 1vw;
  border: none;
  cursor: pointer;
}

.card {
  background-color: var(--background-card);
  padding: 1vw;
  border-radius: 1vw;
  box-shadow: var(--box-shadow);
}
